<!DOCTYPE html>
<html ng-app = "appl" ng-cloak>
<head>
	<title>My page title</title>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
<script src ="validation.js" type="text/javascript"></script>


</head>
<body>

<div ng-controller ='cntrl'>


<form name ="userForm" >


	<label>Members:</label><br>
	<ul>
		<li ng-repeat ='m in members'>
		{{m.fname + " " + m.lname}}
		</li>
	</ul>

	<label>First name:</label>
	<input type="text" ng-model= 'user.FNAME' name = "F" ng-required ='true' ng-minlength = '2' placeholder ='First Name'>
	<label ng-show = 'userForm.F.$dirty && userForm.F.$error.required'>Please enter first name</label>
	<label ng-show = 'userForm.F.$dirty && userForm.F.$error.minlength'>First name must have atleast 2 characters</label>
	<br>

	<label>Last name :</label>
	<input type="text" ng-model= 'user.LNAME' name = "L" ng-required ='true' ng-minlength = '2' placeholder ='Last Name'>
	<label ng-show = 'userForm.L.$dirty && userForm.L.$error.required'>Please enter last name</label>
	<label ng-show = 'userForm.L.$dirty && userForm.L.$error.minlength'>Last name must have atleast 2 characters</label>
	<br>
	<br>

	
	<button ng-click = "saveUser(user)" ng-disabled = "userForm.$invalid">
		Add member</button>

</form>

</div>

</body>
</html>